@CHARSET "ISO-8859-1";


	
	

input[type='radio'] {
-webkit-appearance: none;
-webkit-user-select: none;
background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
border: 1px solid rgba(0, 0, 0, 0.25);
border-radius: 2px;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
color: #444;
font: inherit;
margin: 0 1px 0 0;
text-shadow: 0 1px 0 rgb(240, 240, 240);
border-radius: 100%;
bottom: 3px;
height: 15px;
position: relative;
vertical-align: middle;
width: 15px;

}

input[type='radio']:checked::before {
  background-color: #666;
  border-radius: 100%;
  bottom: 3px;
  content: '';
  display: block;
  left: 3px;
  position: absolute;
  right: 3px;
  top: 3px;
}

:enabled:hover:-webkit-any(
    select,
    input[type='checkbox'],
    input[type='radio'],
    :-webkit-any(
        button,
        input[type='button'],
        input[type='submit']):not(.custom-appearance):not(.link-button)) {
  background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12),
      inset 0 1px 2px rgba(255, 255, 255, 0.95);
  color: black;
}

:enabled:active:-webkit-any(
    select,
    input[type='checkbox'],
    input[type='radio'],
    :-webkit-any(
        button,
        input[type='button'],
        input[type='submit']):not(.custom-appearance):not(.link-button)) {
  background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
  box-shadow: none;
  text-shadow: none;
}

input:disabled:-webkit-any([type='checkbox'],
                           [type='radio']) {
  opacity: .75;
}

:enabled:focus:-webkit-any(
    select,
    input[type='checkbox'],
    input[type='password'],
    input[type='radio'],
    input[type='search'],
    input[type='text'],
    input[type='url'],
    input:not([type]),
    :-webkit-any(
         button,
         input[type='button'],
         input[type='submit']):not(.custom-appearance):not(.link-button)) {
  /* OVERRIDE */
  -webkit-transition: border-color 200ms;
  /* We use border color because it follows the border radius (unlike outline).
   * This is particularly noticeable on mac. */
  border-color: rgb(77, 144, 254);
  outline: none;
}

:-webkit-any(.checkbox, .radio) label {
  /* Don't expand horizontally: <http://crbug.com/112091>. */
  display: -webkit-inline-box;
  padding-bottom: 7px;
  padding-top: 7px;
}

:-webkit-any(.checkbox, .radio) label input ~ span {
  -webkit-margin-start: 0.6em;
  /* Make sure long spans wrap at the same horizontal position they start. */
  display: block;
}

:-webkit-any(.checkbox, .radio) label:hover {
  color: black;
}

label > input:disabled:-webkit-any([type='checkbox'], [type='radio']) ~ span {
  color: #999;
}

:-webkit-any(button,
             input[type='button'],
             input[type='submit']):not(.custom-appearance):not(.link-button),
select,
input[type='checkbox'],
input[type='radio'] {
  -webkit-appearance: none;
  -webkit-user-select: none;
  background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08),
      inset 0 1px 2px rgba(255, 255, 255, 0.75);
  color: #444;
  font: inherit;
  margin: 0 1px 0 0;
  text-shadow: 0 1px 0 rgb(240, 240, 240);
}



input[type='checkbox'] {
  bottom: 2px;
  height: 13px;
  position: relative;
  vertical-align: middle;
  width: 13px;
}

input[type='checkbox']:checked::before {
  -webkit-user-select: none;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAcklEQVQY02NgwA/YoJgoEA/Es4DYgJBCJSBeD8SboRinBiYg7kZS2IosyQ/Eakh8LySFq4FYHFlxGRBvBOJYqMRqJMU+yApNkSRAeC0Sux3dfSCTetE0wKyXxOWhMKhTYIr9CAUXyJMzgLgBagBBgDPGAI2LGdNt0T1AAAAAAElFTkSuQmCC');
  background-size: 100% 100%;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
}

input[type='radio'] {
  /* OVERRIDE */
  border-radius: 100%;
  bottom: 3px;
  height: 15px;
  position: relative;
  vertical-align: middle;
  width: 15px;
}

h1 {
	font-size: 40px;
	padding: 15px 0 15px 0; 
	left:20%;
	top:0;
	margin: 0;
	color: white;
	margin-bottom: 25px;
	background-color: rgba(34,32,34,.7);
	-webkit-border-top-right-radius:20px;
	-webkit-border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-top-left-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
	}
	
h1 span {
	display:block;
	font-size:25px;
	}
	
form {
	padding: 25px 0 25px 0;
	text-align:left;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

form span {
	font-size: 22px;
	text-align: center;
}

#main {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width:50%;
	min-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#content {
	background:rgba(240,240,240,.7);
	-webkit-border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-webkit-border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-top-left-radius:20px;
	
}

body {
	text-align: center;
	background: url(/img/options_background.jpg) center center fixed;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#rb {
	margin-top:10px;
}

#rb span {
	font-size: 18px;
	padding: 0 0 0 10px;
}

#hint {
	font-size: 17px;
	padding-bottom: 5px;
}

#id_summoner_region {
	margin-left: 83px;
	
	}
	
#rb [type=text] {
	
	/*background:rgba(240,240,240,.2);*/
	-webkit-border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-webkit-border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-top-left-radius:20px;
	padding: 0 0 0 10px;
	
	}	
	